<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="<%= base_url %><%= current_page.url%>" />

    <title><%= current_page.data.title || current_page.locals.try(:[], :trip).try(:[], :title)%> | Matsimitsu</title>
    <meta name="google-site-verification" content="RAuW_ocX_H8rkhEzePDpKWk_GgzEXJ48rG1fvncuqnA" />
    <link rel="alternate" type="application/rss+xml"
          title="RSS Feed for matsimitsu.com"
          href="/feed.xml" />
    <link href="https://twitter.com/matsimitsu" rel="me"/>
    <link rel="webmention" href="https://webmention.io/matsimitsu.com/webmention" />
    <link rel="pingback" href="https://webmention.io/matsimitsu.com/xmlrpc" />
    <link rel="micropub" href="https://matsimitsu.com/.netlify/functions/micropub">
    <meta name="author"      content="Robert Beekman" />
    <meta name="publisher"   content="Matsimitsu" />
    <meta name="copyright"   content="<%= Date.today.year %> AppSignal" />
    <meta name="host"        content="<%= base_url %>" />
    <meta name="generator"   content="Middleman App" />
    <meta name="description" content="<%= current_page.data[:summary] || current_page.data[:subtitle] || current_page.locals.try(:[], :trip).try(:[], :excerpt) %>"/>

    <meta property="twitter:site"        content="@matsimitsu" />
    <meta property="twitter:creator"     content="@matsimitsu" />
    <meta property="twitter:title"       content="<%= current_page.data.title || current_page.locals.try(:[], :trip).try(:[], :title) %> | Matsimitsu" />
    <meta property="twitter:description" content="<%= current_page.data[:summary] || current_page.data[:subtitle] || current_page.locals.try(:[], :trip).try(:[], :excerpt) %>"/>
    <meta property="twitter:url"         content="<%= base_url %><%= current_page.url%>" />

    <%- if current_article && current_article.data.image %>
      <meta property="twitter:image" content="<%= sized_image(current_article.data.image, 720) %>" />
      <meta property="twitter:card" content="summary_large_image" />
    <%- else %>
      <meta property="twitter:card" content="summary" />
    <%- end %>
    <%= stylesheet_link_tag "main" %>

  </head>
  <body>
    <header class="border-b border-gray-2 text-gray-8 sticky top-0 z-10 bg-blur bg-white">
      <div class="w-full mx-auto max-w-6xl flex items-center py-4 px-4">
        <h1><a href="/">Matsimitsu</a></h1>
        <%= breadcrumbs(current_page) %>
        <ul class="w-1/5 flex ml-auto items-center justify-end">
          <li class="ml-4"><a href="/blog" class="<%= current_path.start_with?("blog") ? "border-yellow-6 border-b-2" : nil -%>">Blog</a></li>
          <li class="ml-4"><a href="/trips" class="<%= current_path.start_with?("trips") ? "border-yellow-6 border-b-2" : nil -%>">Trips</a></li>
          <li class="ml-4"><a href="/notes" class="<%= current_path.start_with?("notes") ? "border-yellow-6 border-b-2" : nil -%>">Notes</a></li>
          <li class="ml-4"><a href="/about" class="<%= current_path.start_with?("about") || current_path.start_with?("now") || current_path.start_with?("uses") ? "border-yellow-6 border-b-2" : nil -%>">About</a></li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer class="border-t border-gray-2 text-gray-8 bg-blur">
      <div class="w-full mx-auto max-w-6xl flex items-center py-4">
        <p>&copy; Robert Beekman</p>
        <%= partial "social" %>
      </div>
    </footer>
    <%= partial "photoswipe" %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
