<% wrap_layout :layout do %>
  <article>
    <div class="relative bg-black">
      <%= scaled_image(current_article.data[:image], "Header image", "opacity-50") %>
      <section class="absolute inset-0 text-center w-full flex">
        <hgroup class="py-16 max-w-4xl m-auto text-white">
          <%= date_range(current_article.data[:date], current_article.data[:end_date], " - ", "text-gray-4 text-base mb-0") %>
          <h1 class="text-6xl font-extrabold  leading-tight"><%= current_article.title %></h1>
          <p class="font-light text-4xl"><%= current_article.data[:subtitle] %></p>
        </hgroup>
      </section>
    </div>
    <section class="c--trip c--markdown px-4 lg:px-0" data-controller="gallery">
      <%= yield %>
    </section>
  </article>
  <% if trip_article?(current_article, current_article.article_previous) || trip_article?(current_article, current_article.article_next) %>
    <div class="text-center w-full border-t-2 border-gray-2 pt-16">
      <h1 class="text-4xl font-bold mb-4">
        More posts from <%= current_trip[:title] %>
      </h1>
      <div class="grid grid-cols-2 gap-4">
        <% if trip_article?(current_article, current_article.article_previous) %>
          <%= partial :day_card, :locals => {:article => current_article.article_previous} %>
        <% end %>
        <% if trip_article?(current_article, current_article.article_next) %>
          <%= partial :day_card, :locals => {:article => current_article.article_next} %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
