<div class="PostCard small">
  <a href="<%= locals[:article].url %>">
    <figure class="ScaledImage cover">
      <%= scaled_image(locals[:article].data[:image], "Trip header", "cover") %>
    </figure>
  <hgroup>
    <div class="Dates">
      <%= date_range(locals[:article].data[:date], locals[:article].data[:end_date])%>
      <h1 class="H-Medium"><%= locals[:article].data[:title] %></h1>
      <p class="T-Medium"><%= locals[:article].data[:subtitle] %></p>
      <span class="Button secondary">View <span> <%= locals[:next_or_prev] %></span> post</span>
    </hgroup>
  </a>
</div>
