---
title: Notes
breadcrumb: Notes
blog: notes
---
<%= partial "header", :locals => { :title => "Notes", :subtitle => "Another place to not post anything ;)" } %>

<section class="c--markdown px-4 lg:px-0" data-controller="gallery">
  <% blog("notes").articles.sort_by(&:date).reverse.each do |note| %>
    <article class="c--note px-4 lg:px-0">
      <%= note.body%>
      <small>
      Published on
      <a href="<%= url_for(note) %>">
        <time datetime="<%= note.date.strftime("%Y-%m-%d") %>"><%= note.date.strftime("%Y-%m-%d @ %H:%M") %></time>
      </a>
    </small>
    </article>
  <% end %>
</section>
