<%= partial "header", :locals => { :pretitle => "#{trip[:start]} - #{trip[:end]}", :title => trip[:title], :subtitle => trip[:excerpt] } %>

<%- if trip[:map]  %>
  <section class="py-16 container text-center">
    <div class="m-auto inline-block">
      <%= svg_map(trip[:map]) %>
    </div>
  </section>
<%- elsif trip[:countries] && trip[:countries].any? %>
  <section class="py-16 container text-center">
    <div class="m-auto inline-block">
      <%= svg_map("world", trip[:countries]) %>
    </div>
  </section>
<%- end %>
<%- if trip[:kind] == "single" %>
  <article class="c--trip c--markdown px-4 lg:px-0">
    <%= trip_articles(trip[:slug]).first.body %>
  </article>
<%- else %>
  <section class="Container">
    <%- trip_articles(trip[:slug]).each do |article| %>
      <div class="PostCard">
        <a href="<%= article.url %>">
          <%= scaled_image(article.data[:image], "#{article.data[:title]} image", "cover") %>
          <hgroup>
            <%= date_range(article.data[:date], article.data[:end_date]) %>
            <h1 class="H-Medium"><%= article.data[:title] %></h1>
            <p class="T-Medium"><%= article.data[:subtitle] %></p>
            <span class="Button secondary">View post</span>
          </hgroup>
        </a>
      </div>
    <%- end %>
  </section>
<%- end %>
