<%= partial "header", :locals => { :pretitle => "#{trip[:start]} - #{trip[:end]}", :title => trip[:title], :subtitle => trip[:excerpt] } %>

<%- if trip[:map]  %>
  <section class="py-16 container text-center">
    <div class="m-auto inline-block">
      <%= svg_map(trip[:map]) %>
    </div>
  </section>
<%- elsif trip[:countries] && trip[:countries].any? %>
  <section class="py-16 container text-center">
    <div class="m-auto inline-block">
      <%= svg_map("world", trip[:countries]) %>
    </div>
  </section>
<%- end %>
<%- if trip[:kind] == "single" %>
  <article class="c--trip c--markdown px-4 lg:px-0">
    <%= trip_articles(trip[:slug]).first.body %>
  </article>
<%- else %>
  <section class="py-16 container">
    <%- trip_articles(trip[:slug]).each do |article| %>
      <%= partial :day_card, :locals => {:article => article} %>
    <%- end %>
  </section>
<%- end %>
