<%= partial "header", :locals => { :pretitle => "#{trip[:start]} - #{trip[:end]}", :title => trip[:title], :subtitle => trip[:excerpt] } %>

<%- if trip[:map]  %>
  <section class="py-16 container text-center">
    <div class="m-auto inline-block">
      <%= svg_map(trip[:map]) %>
    </div>
  </section>
<%- elsif trip[:countries] && trip[:countries].any? %>
  <section class="py-16 container text-center">
    <div class="m-auto inline-block">
      <%= svg_map("world", trip[:countries]) %>
    </div>
  </section>
<%- end %>
<%- if trip[:kind] == "single" %>
  <article class="c--trip c--markdown px-4 lg:px-0">
    <%= trip_articles(trip[:slug]).first.body %>
  </article>
<%- else %>
  <section class="py-16 container">
    <%- trip_articles(trip[:slug]).each do |article| %>
      <a href="<%= article.url %>" class="relative block my-10 bg-black">
        <%= scaled_image(article.data[:image], "#{article.data[:title]} image", "object-cover opacity-50 duration-200 ease-in-out hover:opacity-100 transition-opacity") %>
        <hgroup class="absolute right-0 bottom-0 text-white m-2">
          <%= date_range(article.data[:date], article.data[:end_date], "", "text-lg text-right") %>
          <h1 class="text-right font-light leading-none text-4xl"><span class="font-extrabold"><%= article.data[:title] %></span><span class="font-normal mx-2">/</span><%= article.data[:subtitle] %></h1>
        </hgroup>
      </a>
    <%- end %>
  </section>
<%- end %>
